.container {
  position: relative;
  margin: auto;
  width: 300px;
}

.noDoors {
  position: absolute;
}

.leftDoorClosed {
  height: 162px;
  top: 138px;
  left: 12px;
  transform: rotate(-20deg);
  transform-origin: 50% 10%;
  position: absolute;
  transition: transform 1s ease-in-out;
}

.leftDoorOpened {
  height: 162px;
  top: 138px;
  left: 12px;
  transform-origin: 50% 10%;
  position: absolute;
  transition: transform 1s ease-in-out;
}

.rightDoorClosed {
  height: 156px;
  top: 145px;
  left: 185px;
  transform: rotate(20deg);
  transform-origin: 50% 10%;
  position: absolute;
  transition: transform 1s ease-in-out;
}

.rightDoorOpened {
  height: 156px;
  top: 145px;
  left: 185px;
  transform-origin: 50% 10%;
  position: absolute;
  transition: transform 1s ease-in-out;
}

.trunkOpened {
  height: 70px;
  top: 298px;
  left: 68px;
  transform-origin: 50% 0;
  position: absolute;
  transition: transform 1s ease-in-out;
}

.trunkClosed {
  height: 70px;
  top: 298px;
  left: 68px;
  transform-origin: 50% 0;
  position: absolute;
  transform: scaleY(0);
  transition: transform 1s ease-in-out;
}

@keyframes ani {
  0% {
    transform: rotate(0deg);
  }

  6% {
    transform: rotate(-10deg);
  }

  18% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  42% {
    transform: rotate(10deg);
  }

  56% {
    transform: rotate(-10deg);
  }

  62% {
    transform: rotate(0deg);
  }
}

.batteryIndicator {
  position: absolute;
  height: 40px;
  left: 170px;
  top: 80px;
  transition: transform 1s ease-in-out;
  animation: ani 1s infinite;
}

.fuelHolder {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 420px;

  & img {
    height: 100%;
  }
}

.fuelIndicator {
  position: absolute;
  width: 10px;
  right: 0;
  bottom: 14px;

  &.level10 {
    height: 50px;
    background-color: #00ff00;
  }

  &.level9 {
    height: 45px;
    background-color: #00ff00;
  }

  &.level8 {
    height: 40px;
    background-color: #00ff00;
  }

  &.level7 {
    height: 35px;
    background-color: #00ff00;
  }

  &.level6 {
    height: 30px;
    background-color: #00ff00;
  }

  &.level5 {
    height: 25px;
    background-color: #ffff00;
  }

  &.level4 {
    height: 20px;
    background-color: #ffff00;
  }

  &.level3 {
    height: 15px;
    background-color: #ffff00;
  }

  &.level2 {
    height: 10px;
    background-color: #ffff00;
  }

  &.level1 {
    height: 5px;
    background-color: #ff0000;
  }

  &.level0 {
    height: 1px;
    background-color: #ff0000;
  }
}

.mileage {
  position: absolute;
  right: 30px;
  top: 450px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
